.smallDisplayFix {
	padding: 3px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	max-width: 100%;
	overflow: hidden;
}

@media (max-width: 804px) {
	.smallDisplayFix {
		flex-direction: column;
		align-items: center;
	}
}
